.container {
    width : 60% ;
    background-color:  rgb(237, 127, 219);
    margin-top : 7% ;
    margin-left: auto;
    margin-right: auto;
    padding-top : 3rem ;
    padding-bottom : 3rem ;
}

.container2 {
    color : white ;
    width : 65% ;
    background-color:  rgb(149, 21, 169);
    margin-left : auto ;
    margin-right : auto ;
    padding : 1rem ;
}

input {
    border : none ;
    padding : 0.3rem ;
    width : 10rem ;
}

.inp {
    display : flex ;
    margin : 1rem ;
}

.label {
    width : 10rem ;
    margin-left : 4rem ;
}

.inputgender input {
    padding : none ;
    margin : none ;
}

#selectlang {
    background-color: bisque;
}